[submodule "papers"]
	path = papers
	url = git@github.com:tyfranklin/rd-vr-central-line-papers.git
[submodule "plastic"]
	path = assets
	url = git@github.com:tyfranklin/rd-vr-central-line-plastic.git
[submodule "landing"]
	path = landing
	url = git@github.com:tyfranklin/rd-vr-residency-landing.git
[submodule "docs"]
	path = docs
	url = git@github.com:tyfranklin/rd-vr-central-line.wiki
[submodule "tests"]
	path = tests
	url = git@github.com:tyfranklin/rd-vr-central-line-tests.git
[submodule "accessories"]
	path = accessories
	url = git@github.com:tyfranklin/rd-vr-acc-central-line.git
